[submodule "Submodules/wtl"]
	path = Submodules/wtl
url=git@github.com:pedbsktbll/WTL.git
[submodule "Submodules/dynamic_libs"]
	path = Submodules/dynamic_libs
url=git@github.com:pedbsktbll/dynamic_libs.git
[submodule "Submodules/kernel_libs"]
	path = Submodules/kernel_libs
url=git@github.com:pedbsktbll/Kernel_Libs.git